.main {
  display: grid;
  row-gap: 96px;
  padding-block: 96px;

  @include contentPaddingInline;

  @include onTablet {
    padding-block: 120px;
    row-gap: 120px;
  }
}


// {
//   "semi": true,
//   "singleQuote": false,
//   "jsxSingleQuote": false,
//   "bracketSpacing": true,
//   "printWidth": 80,
//   "tabWidth": 2,
//   "arrowParens": "always",
//   "endOfLine": "crlf",
//   "tag-self-close": false,
//   "closeEmptyJsxElements": false,
//   "html.format.wrapAttributes": "force-aligned"
// }

